/* global Varaibles for the whole webpage */
:root {
  --primary-color: #00ced1;
  --secondary-color: #40e0d0;
  --tertiary-color: #7fffd4;
  --primary-dark: #034b4b;
  --primary-light: #00ffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #e0e0e0;
}
* {
  padding: 0;
  margin: 0;
  /* border box is used to prevent adding extra sizes to the element that we want to put margin or padding */
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 85%;
  }
}
html {
  /* changing the whole size of the HTML for the responsiveness purposes */
  font-size: 62.5%;
}
body {
  font-family: "Dosis", sans-serif;
}
/* changing the color and the test style of the nav bar */
.navbar.navbar-expand-md.navbar-dark.bg-dark {
  background-color: var(--primary-color) !important;
  font-size: 1.6rem;
}
.nav-link {
  color: var(--color-black) !important;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--color-gray);
  text-decoration: underline;
}
.navbar-text {
  color: var(--color-black) !important;
}
.dropdown-item:hover {
  text-decoration: underline;
}
.dropdown-item {
  font-size: 1.6rem;
}
/* changing the color of toggle button */
.navbar-toggler-icon {
  background-image: url(../media/button.png) !important;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  border: 2px solid black;
}

/* the blure effact stats from here  */

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(../media/bathroom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.content {
  position: absolute;
  /* z-index is an atteribute, the hiehger its value the close it is to you ( to the screen)   */
  z-index: 1;
  top: 15%;
  left: 50%;
  margin-top: 10.5rem;
  margin-left: -14.5rem;
  width: 35rem;
  height: 35rem;
  text-align: center;
  transition: all 1000ms;
  font-size: 7rem;
  color: white;
}

/* start of the services section */
.heading {
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 1.6rem;
  font-weight: 700;
  margin: 0 auto;
  margin: 2rem 0;
}
.sub-heading {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  padding-top: 3rem;
}
.container {
  text-align: center;
}

/* sytling the card starts from here */
.card {
  position: relative;
  height: 43rem !important;
  margin-bottom: 3rem;
}
/* front side of the card how it looks  */
.card__side {
  height: 43rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.8);
}
/* card setting of the pictures */
.card__picture {
  margin-top: 1rem;
  background-size: cover;
  height: 22rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
/* card pictures to change */
.card__picture--1 {
  background-image: url(../media/tile.jpg);
}
.card__picture--2 {
  background-image: url(../media/stone.jpg);
}
.card__picture--3 {
  background-image: url(../media/floor.jpg);
}
.card__picture--4 {
  background-image: url(../media/quotes.jpg);
}

.card__heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  color: var(--color-white);
  top: 19.5rem;
  right: 1rem;
  width: 70%;
  border-radius: 3px;
  background-color: var(--primary-color);
  text-align: center;
}

.card__heading-span {
  padding: 5rem 1.5rem;
  box-decoration-break: clone;
}
/* styling the card detials */
.card__details {
  padding: 0rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-dark);
}

/* --------------------------------------------------------------------------------
-------------------------------Styling the About us Page--------------------------- */

.category {
  width: 100%;
  height: 40rem;
  margin: 2rem 0;
  background-color: var(--color-gray);
  padding: 1rem 1rem;
  font-size: 1.6rem;
  text-align: center;
}
.category-list-item {
  list-style: none;
  margin: 0.8rem 0rem;
  border-bottom: 1px solid var(--primary-color);
}
.category-list-item-link {
  color: var(--color-black);
  text-transform: uppercase;
}
.category-list-item-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.about-us {
  width: 100%;
  height: 91%;
  background-color: var(--color-gray);
  margin: 2rem 0;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  text-align: justify;
}

.services {
  background-color: var(--color-gray);
  width: 100%;
  height: 40%;
}
.services-pictures {
  width: 100%;
  height: 40%;
  margin: 2.5rem 0;
  padding: 1rem 1rem;
}
.services-pictures > img {
  width: 100%;
  padding-top: 5rem;
}
.services-text {
  width: 100%;
  height: 55%;
  margin: 2.5rem 0;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 5rem;
}
.title {
  text-align: center;
}

/* -******************************************************************************
-------------------------------Styling the Gallary Page---------------------------
******************************************************************************** */

/* --------------------------------------------------------------------------------
-------------------------------Styling the tile gallary Page--------------------------- */
.tile-gallary {
  /* border: 1px solid green; */
  /* height: 100vh; */
  background-color: var(--color-gray);
  margin: 2rem 0rem;
}

.tile-gallary > img {
  width: 100%;
  margin-top: 2rem;
}
.tile-gallary img:hover {
  opacity: 0.6;
  transition: ease-out 0.9s;
}
/* --------------------------------------------------------------------------------
-------------------------------Styling the Stone gallary Page--------------------------- */

/* --------------------------------------------------------------------------------
-------------------------------Styling the Services Page--------------------------- */

.services-picture {
  border: 1px solid green;
  height: 90%;
  width: 100%;
  border: 1px solid green;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  margin: 2rem 0;
}
.services-picture > img {
  width: 100%;
}

.services-paragraph {
  height: 90%;
  width: 100%;
  border: 1px solid green;
  background-color: var(--color-gray);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  margin: 2rem 0;
}
.services-paragraph > p {
  padding-top: 2rem;
  text-align: left;
}

/* --------------------------------------------------------------------------------
-------------------------------Styling the Estimation Page--------------------------- */
.estimation-page {
  background-color: var(--color-gray);
  margin: 2rem 0rem;
  height: 90%;
}
.estimation-card {
  height: 80rem;
  width: 60%;
  margin: 0 auto;
  border: 1px solid var(--primary-light);
  padding: 1rem 1rem;
  font-size: 1.6rem;
  background-color: white;
  margin-bottom: 2rem;
}
.display-results,
.loading {
  display: none;
}
/* --------------------------------------------------------------------------------
-------------------------------Styling the Contact Us Page--------------------------- */
.form-content {
  background-color: var(--color-gray);
  height: 90vh;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}
.form-group > input {
  border-color: var(--primary-color);
  font-size: inherit;
  text-align: left;
}

#danger {
  opacity: 0;
  width: 80%;
  text-align: center;
  margin-top: 1rem;
}

.btn {
  background-color: var(--primary-color);
  width: 50%;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--primary-light);
}
.map-content {
  background-color: var(--color-gray);
  height: 90vh;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}
/* adjesting the size of the map */

.map-content > iframe {
  width: 100%;
}
/* --------------------------------------------------------------------------------
-------------------------------Styling the Footer Page--------------------------- */
.main-footer {
  background-color: var(--primary-color);
  height: 5%;
  color: var(--color-black);
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}
.fab {
  padding: 0.1rem 3rem;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-instagram {
  color: #bc2a8d;
}
